<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.until.dao.auto.StGeneratorPurchaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.until.po.StGeneratorPurchaseInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="GUID" jdbcType="VARCHAR" property="guid" />
    <result column="MARKET_ID" jdbcType="VARCHAR" property="marketId" />
    <result column="MARKET_NAME" jdbcType="VARCHAR" property="marketName" />
    <result column="FYEAR" jdbcType="VARCHAR" property="fyear" />
    <result column="FMONTH" jdbcType="VARCHAR" property="fmonth" />
    <result column="BUSIUNIT_ID" jdbcType="VARCHAR" property="busiunitId" />
    <result column="BUSIUNIT_NAME" jdbcType="VARCHAR" property="busiunitName" />
    <result column="DETAIL_TYPE" jdbcType="INTEGER" property="detailType" />
    <result column="ONGRID_ENG_T" jdbcType="DECIMAL" property="ongridEngT" />
    <result column="BASE_ENG" jdbcType="DECIMAL" property="baseEng" />
    <result column="MARKET_ENG" jdbcType="DECIMAL" property="marketEng" />
    <result column="DEBUG_ENG" jdbcType="DECIMAL" property="debugEng" />
    <result column="PILOT_RUN" jdbcType="DECIMAL" property="pilotRun" />
    <result column="OVER_GENERATOR" jdbcType="DECIMAL" property="overGenerator" />
    <result column="KQKS_ML_TERM_TRADE" jdbcType="DECIMAL" property="kqksMlTermTrade" />
    <result column="DIRECT_TRADE" jdbcType="DECIMAL" property="directTrade" />
    <result column="RIGHTS_TRADE" jdbcType="DECIMAL" property="rightsTrade" />
    <result column="CONTRACT_TRANSFER" jdbcType="DECIMAL" property="contractTransfer" />
    <result column="CS_BID_TRADE" jdbcType="DECIMAL" property="csBidTrade" />
    <result column="ADVANCE_LISTING" jdbcType="DECIMAL" property="advanceListing" />
    <result column="ASSIST_TRADE" jdbcType="DECIMAL" property="assistTrade" />
    <result column="QUOTA_TRADE" jdbcType="DECIMAL" property="quotaTrade" />
    <result column="OTHER_TRADE" jdbcType="DECIMAL" property="otherTrade" />
    <result column="RENEW_CRET_TRADE" jdbcType="DECIMAL" property="renewCretTrade" />
    <result column="SPOT_ENERGY" jdbcType="DECIMAL" property="spotEnergy" />
    <result column="SPOT_PRICE" jdbcType="DECIMAL" property="spotPrice" />
    <result column="SPOT_FEE" jdbcType="DECIMAL" property="spotFee" />
    <result column="MARK_CHECKDEV_FEE" jdbcType="DECIMAL" property="markCheckdevFee" />
    <result column="CAP_FEE" jdbcType="DECIMAL" property="capFee" />
    <result column="ONGRID_CHECK_FEE" jdbcType="DECIMAL" property="ongridCheckFee" />
    <result column="OTHER_FEE" jdbcType="DECIMAL" property="otherFee" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="ISSUE" jdbcType="VARCHAR" property="issue" />
  </resultMap>
</mapper>