<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.until.dao.auto.StSellerStatisticAnalysisInfoMapper">
  <resultMap id="BaseResultMap" type="com.until.po.StSellerStatisticAnalysisInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="GUID" jdbcType="VARCHAR" property="guid" />
    <result column="MARKET_ID" jdbcType="VARCHAR" property="marketId" />
    <result column="MARKET_NAME" jdbcType="VARCHAR" property="marketName" />
    <result column="FYEAR" jdbcType="VARCHAR" property="fyear" />
    <result column="FMONTH" jdbcType="VARCHAR" property="fmonth" />
    <result column="MEMBERS_ID" jdbcType="VARCHAR" property="membersId" />
    <result column="MEMBERS_NAME" jdbcType="VARCHAR" property="membersName" />
    <result column="PROXY_USER_COUNT" jdbcType="INTEGER" property="proxyUserCount" />
    <result column="MO_USE_ENERGY" jdbcType="DECIMAL" property="moUseEnergy" />
    <result column="SELL_ENERGY_T" jdbcType="DECIMAL" property="sellEnergyT" />
    <result column="SELL_FEE_T" jdbcType="DECIMAL" property="sellFeeT" />
    <result column="SELL_PRICE_T" jdbcType="DECIMAL" property="sellPriceT" />
    <result column="MARK_PURCHASE_ENG" jdbcType="DECIMAL" property="markPurchaseEng" />
    <result column="MARK_PURCHASE_FEE" jdbcType="DECIMAL" property="markPurchaseFee" />
    <result column="MARK_PURCHASE_PRI" jdbcType="DECIMAL" property="markPurchasePri" />
    <result column="OVER_USE_ENG" jdbcType="DECIMAL" property="overUseEng" />
    <result column="OVER_USE_FEE" jdbcType="DECIMAL" property="overUseFee" />
    <result column="OVER_USE_PRI" jdbcType="DECIMAL" property="overUsePri" />
    <result column="CHECKDEV_ENG" jdbcType="DECIMAL" property="checkdevEng" />
    <result column="CHECKDEV_FEE" jdbcType="DECIMAL" property="checkdevFee" />
    <result column="CHECKDEV_PRI" jdbcType="DECIMAL" property="checkdevPri" />
    <result column="USER_ENERGY_T" jdbcType="DECIMAL" property="userEnergyT" />
    <result column="USER_FEE_T" jdbcType="DECIMAL" property="userFeeT" />
    <result column="USER_PRICE_T" jdbcType="DECIMAL" property="userPriceT" />
    <result column="PROXY_CHECK_ENG" jdbcType="DECIMAL" property="proxyCheckEng" />
    <result column="PROXY_CHECK_FEE" jdbcType="DECIMAL" property="proxyCheckFee" />
    <result column="PROXY_CHECK_PRI" jdbcType="DECIMAL" property="proxyCheckPri" />
    <result column="SERVICE_FEE" jdbcType="DECIMAL" property="serviceFee" />
    <result column="SERVICE_AVG_PRI" jdbcType="DECIMAL" property="serviceAvgPri" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="ISSUE" jdbcType="VARCHAR" property="issue" />
  </resultMap>
</mapper>